@media only screen and (max-width:1199px){
     h1, .h1 {
         font-size: 42px;
         line-height: 55px;
    }
     h2 {
         font-size: 28px;
         line-height: 40px;
    }
     p.large {
         font-size: 22px;
    }
     h3 {
         font-size: 21px;
         line-height: 32px;
    }
}
 @media only screen and (max-width:991px){
     h1, .h1 {
         font-size: 34px;
         line-height: 44px;
    }
     h2 {
         font-size: 26px;
         line-height: 37px;
    }
     h3 {
         font-size: 16px;
         line-height: 25px;
    }
     p {
         font-size: 16px;
         line-height: 23px;
    }
     p.large {
         font-size: 20px;
         line-height: 27px;
    }
     .form-main::before, .form-main::after {
         width: 350px;
         height: 350px;
    }
     .sliderClients .slick-dots {
         margin-top: 30px;
    }
     p.large {
         font-size: 17px;
    }
     .countCard p.large, .partnerSectionArea p.large {
         line-height: 26px;
    }
     .imgCircleTop::before {
         width: 200px;
         height: 200px;
    }
     .bannerTop .col-md-6 > img {
         max-width: 110%;
    }
     .bannerTop {
         padding-top: 110px;
    }
}
 @media only screen and (max-width:767px){
     h1, .h1 {
         font-size: 28px;
         line-height: 35px;
    }
     h2 {
         font-size: 22px;
         line-height: 30px;
    }
     p {
         font-size: 15px;
         line-height: 24px;
    }
     p.large {
         font-size: 18px;
         line-height: 25px;
    }
     .bannerTop .col-md-6 > img {
         max-width: 100%;
    }
     .bannerTop {
         padding-top: 75px;
    }
     .mainHeader .navbar-brand img {
         max-width: 110px;
    }
     .steps-section {
         border-radius: 25px 25px 0px 0px;
    }
     .imgCircleTop::before {
         width: 150px;
         height: 150px;
         left: 0px;
    }
     .imgCircleTop.left::before {
         right: 15px;
    }
     .hardware-store-section {
         border-radius: 25px;
    }
     p.xsmall, .xsmall-text {
         font-size: 14px;
    }
     .form-main::before, .form-main::after {
         width: 250px;
         height: 250px;
    }
     #navbarSupportedContent {
         background: #FFF;
         height: 100vh;
         padding: 0 15px;
         transform: translateX(-100%);
         opacity: 0;
         transition: all 0.5s;
         position: absolute;
         top: 46px;
         left: 0;
         width: 100vw;
         border-top: 1px solid var(--blueGray);
    }
     #navbarSupportedContent .navbar-nav {
         padding-top: 0;
         margin-bottom: 25px !important;
    }
     #navbarSupportedContent .navbar-nav .nav-item a {
         margin: 0 !important;
         font-size: 17px;
    }
     #navbarSupportedContent .navbar-nav .nav-item {
         padding: 15px 0;
         border-bottom: 1px solid #eee;
    }
     #navbarSupportedContent.show {
         transform: translateX(0);
         opacity: 1;
    }
}
