:root {
     --inter--: 'Inter', sans-serif;
     --blueGray--:#1E293B;
     --primary--:#17B3CC;
     --dark-text-color:#08030F;
}

* {
	padding: 0px;
	margin: 0px;
	font-size: 16px;

}

 body{
     font-family: var(--inter--);
     font-size: 16px;
     color: var(--blueGray--);
     background: url(https://storage.googleapis.com/content.ezadtv.com/2023/02/01/63dab655e1fb2_down-bottom-left.webp) left bottom no-repeat;
	 overflow-x:hidden;
}

/* Font Weight */
 .fontMedium{
     font-weight: 500;
}
 .fontSemiBold{
     font-weight: 600;
}
 .text-main{
     color: var(--blueGray--) !important;
}

.paragraph{
     font-size: 18px;
}
.small-text{
     font-size: 14px;
}

 .btn-primary {
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #F9B54A 0%, #FF451E 100%);
     border-radius: 6px;
     padding: 10px 15px;
}
 .btn img{
     max-width: 15px;
}
 .btn-success{
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #28B858 0%, #3EBF69 100%);
     border-radius: 6px;
     padding: 10px 15px;
}

.profile-menu .dropdown-menu {
	right: 0;
	left: unset;
}

.profile-menu .fa-fw {
	margin-right: 10px;
}

.toggle-change::after {
	border-top: 0;
	border-bottom: 0.3em solid;
}
.navbar {
	background-color: #fff;

}

.nav-logo {
	color: var(--primary--);
	font-size: 2rem;
}


.nav-link {
	color: var(--blueGray--) !important;
}

.nav-item>.active {
	color: var(--primary--) !important;
}

.nav-link:hover {
	color: var(--primary--) !important;
}

 .btn, .mainHeader a, .mainHeader .btn{
     font-size: 14px;
}




/* Form Design */
 .form-control {
     border: 1px solid #CBD5E1;
     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
     border-radius: 10px;
}
 textarea{
     resize: none;
     height: 114px;
}

/* Banner */
 .bannerTop{
     padding-top: 130px;
     background: url(https://storage.googleapis.com/content.ezadtv.com/2023/01/31/63d956fc6cf95_bannerImg.webp) bottom left no-repeat;
     background-size: 100%;
     overflow: hidden;
}
/* Step Steps */
 .steps-section{
     background: rgb(249,181,74);
     background: radial-gradient(circle, rgba(249,181,74,0.05) 0%, rgba(255,69,30,0.05) 100%);
     border-radius: 50px 50px 0px 0px;
}
 .countCard{
     border: 1px solid #F1F5F9;
     border-radius: 15px;
     overflow: hidden;
}
 
 .countStep {
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #F9B54A 0%, #FF451E 100%);
     border-radius: 5px;
     width: 40px;
     height: 40px;
}
 .imgCircleTop::before {
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #F9B54A 0%, #FF451E 100%);
     opacity: 0.08;
     content: "";
     width: 260px;
     height: 260px;
     position: absolute;
     border-radius: 50%;
     left: -100px;
     top: -30px;
}
 .imgCircleTop.left::before{
     left: auto;
     right: -80px;
     top: -50px;
}
 .imgCircleTop img{
     position: relative;
     z-index: 1;
}
 .btn.white-btn {
     background: #FFF;
}
 .btn.white-btn:hover{
     color: #000;
}
 .yellowBox{
     background: url(https://storage.googleapis.com/content.ezadtv.com/2023/02/02/63dc1325c24c5_yellowBox.webp) center center no-repeat;
     background-size: cover;
     border-radius: 15px;
}

/* Free Consultation */
.free-consultation ul {
     list-style-type: none;
}
 .free-consultation ul li {
     padding-left: 24px;
     position: relative;
     font-size: 16px;
     line-height: 24px;
}
 .free-consultation ul li::before {
     width: 8px;
     height: 8px;
     content: "";
     position: absolute;
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #F9B54A 0%, #FF451E 100%);
     border-radius: 50%;
     left: 0;
     top: 8px;
}
 .whatsappcall img {
     max-width: 53px;
}
 .whatsappcall {
     background: #F8FAFC;
     border: 1px solid #CBD5E1;
     border-radius: 20px;
}
 .form-main {
     background: #FFFFFF;
     border: 1px solid #E2E8F0;
     box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
     border-radius: 25px;
}
 .form-main input[type="submit"] {
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #F9B54A 0%, #FF451E 100%) 
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
     border-radius: 6px;
}
 .form-main::before {
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #F9B54A 0%, #FF451E 100%);
     opacity: 0.08;
     width: 450px;
     height: 450px;
     content: "";
     z-index: -1;
     position: absolute;
     top: -45px;
     border-radius: 50%;
     right: 0;
}
 .form-main::after {
     background: radial-gradient(535.68% 535.68% at 100% -109.64%, #28B858 0%, #3EBF69 100%) 
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
     opacity: 0.05;
     width: 450px;
     height: 450px;
     content: "";
     z-index: -1;
     position: absolute;
     bottom: -50px;
     border-radius: 50%;
     left: 0;
}
/* Partner Section */
 
/* Hardware Store Section */
 .hardware-store-section {
     background: rgb(40,184,88);
     background: radial-gradient(circle, rgba(40,184,88,0.05) 0%, rgba(62,191,105,0.05) 100%);
     border-radius: 35px;
}
 .cardbg{
     background: rgb(40,184,88);
     background: radial-gradient(circle, rgba(40,184,88,0.1) 0%, rgba(62,191,105,0.1) 100%);
     border-radius: 25px;
}
 .fullbox img{
     max-width: 333px;
}
.clientSection .divider{
     border-bottom: 1px solid #E2E8F0;
    
}

.footer .divider{
     border-top: 1px solid #E2E8F0;
}
 /* .pop-products .container .row {
     border-top: 1px solid #E2E8F0;
} */
/* Clients */
 .sliderClients img{
     max-width: 100%;
}
 .sliderClients .slick-dots {
     display: flex;
     justify-content: center;
     list-style-type: none;
     margin-top: 35px;
     margin-bottom: 0px;
     padding: 0px;
}
 .sliderClients .slick-dots li button {
     width: 12px;
     height: 12px;
     font-size: 0;
     border-radius: 50%;
     border: 2px solid #3EBF69;
     background: #FFF;
     margin: 0 3px;
	 padding:0px;
}
 .sliderClients .slick-dots li.slick-active button {
     background: #3EBF69;
}
.footer-company-info .Copyrights {
	color: #64748B;
     
}